<?xml version="1.0"?>
<launch>
	<node name="random_walk" pkg="random_walk" type="random_walk"> 
        <remap from="cmd_vel" to="husky/cmd_vel" />
        <remap from="base_scan/scan" to="scan" />	
        <param name="min_dist" type="double" value="1.2"/>
		<param name="view_angle" type="int" value="40"/>
		<param name="robot_width" type="double" value="0.9"/>
		<param name="linear_vel" type="double" value="0.3"/>
		<param name="angular_vel" type="double" value="0.3"/>
		<param name="sensor_frame_id" type="str" value="/velodyne"/>
		<param name="real_flag" type="bool" value="1"/>
	</node>
</launch>
